.quantumcontainer{
    display: flex;
    justify-content: center;
}
.quantumtable{
    border: 2px solid black;
    width: 80%;
    text-align: center;
}
th{
    background-color: #1c60a1;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}
td{
    background-color: azure;
    border: 1px solid rebeccapurple;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}